.mainWrapper {
  min-height: 100vh;
  background: var(--bgColor);
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: 900px;
  width: 90%;

  margin: 0 auto;
}
.mainContainer {
  max-width: 800px;

  margin: 0 auto;
  padding: 50px 0;
}
.container {
  --opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagesContainer {
  max-width: 852px;
  width: 100%;
}
.only3Items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.firstElement,
.oddElement {
  margin-left: 170px;

  position: relative;
  z-index: 1;
  border-radius: 50%;
  background: var(--secondaryColor);
  width: 68px;
  height: 64px;
  opacity: var(--opacity);
  position: relative;
}
.firstElement .border {
  position: absolute;
  width: 388px;
  height: 90%;
  border-top-right-radius: 50px;
  border: var(--border);
  border-bottom: none;
  border-left: none;
  top: 90%;
  right: 0;
  transform: translate(100%, -50%);
  z-index: -1;
}

.oddElement .highlightBorder {
  border: var(--highlightBorder);
  border-bottom: none;
  border-left: none;
}
.oddElement .border {
  position: absolute;
  width: 260px;

  border-top-right-radius: 0px;
  border-top: var(--border);

  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  z-index: -1;
}
.moreThan3 .secondLastElement .border {
  height: 90%;
  border-bottom-right-radius: 50px;
  border: var(--border);
  border-top: none;
  border-left: none;
  top: 10%;
  z-index: -1;
}
.oddElement .highlightBorder {
  border-top: var(--highlightBorder);
}

.divisibleBy2Not4 {
  margin-left: 295px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  z-index: 1;
  opacity: var(--opacity);
}
.divisibleBy2Not4 .border {
  position: absolute;
  width: 184px;
  border-top-right-radius: 0px;
  border-top: var(--border);
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  z-index: -1;
}
.divisibleBy2Not4 .highlightBorder {
  border-top: var(--highlightBorder);
}

.thirdImageContainer {
  margin-left: 180px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: var(--secondaryColor);
  margin-top: -15px;
  transform: translateY(-10px);
  position: relative;
  z-index: 2;
  opacity: var(--opacity);
}
.line3 {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 80px;
  width: 208px;
  height: 10px;
  z-index: -1;
}
.evenElement {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: var(--secondaryColor);
  position: relative;
  z-index: 1;
  opacity: var(--opacity);
}
.evenElement .border {
  position: absolute;
  width: 470px;
  border-top-right-radius: 0px;
  border-top: var(--border);
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  z-index: -1;
}
.moreThan3 .secondElement .border {
  height: 90%;
  border-top-right-radius: 40px;
  border: var(--border);
  border-bottom: none;
  border-left: none;
  top: 90%;
  z-index: -1;
}
.evenElement .highlightBorder {
  border-top: var(--highlightBorder);
}

.lastElement {
  margin-left: 363px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  position: relative;
  background-color: var(--secondaryColor);
  z-index: 1;
  opacity: var(--opacity);
}
.lastElement {
  margin-left: 360px;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  background: var(--secondaryColor);
  width: 68px;
  height: 64px;
  opacity: var(--opacity);
  position: relative;
}
.lastElement .border {
  position: absolute;
  width: 197px;
  height: 90%;
  border-bottom-right-radius: 50px;
  border: var(--border);
  border-top: none;
  border-left: none;
  top: 10%;
  right: 0;
  transform: translate(100%, -50%);
  z-index: -1;
}
.only3Items .lastElement {
  margin-left: 170px;
}
.only3Items .lastElement .border {
  width: 388px;
}
.element {
  margin-top: -17px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primaryColor);
}
.icon {
  width: 100%;
  border-radius: 50%;
}
.highlightElement {
  width: 80px;
  height: 80px;
  opacity: 1;
}

/* main Image */
.customContainer {
  max-width: 335px;
  width: 100%;
  z-index: 999;
  margin-top: -22px;
  position: relative;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerImage {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 180px;
  transform: translate(calc(-50%), -50%);
  z-index: 2;
}
.roundedImage {
  border-radius: 26px;
  display: block;
  width: 100%;
}
